*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 25px;
  width: 300px;
  border: 2px solid cyan;
}

  /*background-color: rgba(0,0,0,.7);
  box-shadow: 0 0 10px rgba(255,255,255,.3);}*/

  .container h1{
    text-align: left;
    color: #000000;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}

.container label{
  text-align: left;
  color: #000000;
}

.container form input{
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #2979ff;
  color: #000000;
  font-size: 20px;
}

.container form button{
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color:#2979ff;
  font-size: 20px;
  color: #ffffff;
}